---
import { CollectionEntry, getCollection } from 'astro:content';
import DefaultPage from '../../layouts/default.astro';

export async function getStaticPaths() {
	const posts = await getCollection('pages');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'pages'>;

const post = Astro.props;
const { Content } = await post.render();
---

<DefaultPage {...post.data}>
	<Content />
</DefaultPage>
