---
import DefaultPage from '../layouts/default.astro';
import {frontmatter as Data} from '../content/pages/index.md';
import {Content as Content} from '../content/pages/index.md';
---

<DefaultPage {...Data}>
	<Content />
</DefaultPage>
