---
import 'material-icons/iconfont/outlined.css'
const { prevUrl, nextUrl } = Astro.props;
---

<footer>
	{prevUrl === 'disabled' ? <i></i> : <a href={prevUrl}><span class="material-icons-outlined material-symbols-outlined">arrow_back_ios</span></a>}
	{nextUrl === 'disabled' ? <i></i> : <a class="next" href={nextUrl}><span class="material-icons-outlined material-symbols-outlined">arrow_forward_ios</span></a>}
</footer>
<style>
	footer {
		display: flex;
		justify-content: space-between;
		padding: 25px;
		text-align: center;
	}

    footer a{
        position: fixed;
        top: calc(50% - 24px);
        left: 5%;
    }

    footer .next{
        left: auto;
        right: 5%;
    }

	footer .material-icons-outlined{
		font-size: 68px;
	}
</style>
