---
import 'material-icons/iconfont/material-icons.css';
const { title } = Astro.props;
---

<header>
	<h1 style="display: inline;">
		{title}
	</h1>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
