---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'pages'>['data'];

const { title, description, prevUrl, nextUrl } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header title={title} />
		<slot />
		<Footer prevUrl={prevUrl} nextUrl={nextUrl} />
	</body>
</html>
